<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplefanc.voj.backend.mapper.ContestMapper">
    <select id="getContestList" resultType="com.simplefanc.voj.common.pojo.entity.contest.Contest" useCache="true">
        select c.id,c.uid,c.author,c.title,c.type,c.description,c.source,c.auth,c.status,c.start_time,
        c.end_time,c.duration,c.open_rank,c.oi_rank_score_type,c.contest_admin_visible,c.visible
        from contest c
        <where>
            <if test="keyword!=null and keyword!=''">
                and c.title like concat('%',#{keyword},'%')
            </if>
            <if test="status!=null">
                and c.status = #{status}
            </if>
            <if test="type!=null">
                and c.type = #{type}
            </if>
        </where>
        order by c.status ASC, c.start_time DESC
    </select>

    <select id="getContestRegisterCount" resultType="com.simplefanc.voj.backend.pojo.vo.ContestRegisterCountVO">
        SELECT cr.cid as cid,COUNT(*) as count FROM contest_register cr,contest c
        <where>
            cr.cid = c.id
            AND c.id in
            <foreach collection="cidList" item="cid" open="(" separator="," close=")">
                #{cid}
            </foreach>
        </where>
        GROUP BY cr.cid
    </select>

    <select id="getWithinNext14DaysContests" resultType="com.simplefanc.voj.common.pojo.entity.contest.Contest">
        SELECT c.id,
               c.uid,
               c.author,
               c.title,
               c.type,
               c.source,
               c.auth,
               c.status,
               c.start_time,
               c.end_time,
               c.duration,
               c.oi_rank_score_type,
               c.contest_admin_visible,
               c.visible
        FROM contest c
        WHERE DATE_ADD(CURDATE(), INTERVAL 14 DAY) >= DATE (start_time) AND c.status != 1
        order by c.start_time DESC
    </select>
</mapper>
